# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Native OS
.DS_Store
Thumbs.db

# Project specific
organizer_report.json
organizer_rollback_*.json
*.log
